html {
    font-family: Futura, Arial, sans-serif;
}

body {
    background-color: lightgray;
}

#Header {
    background-image: url("/images/BannerSmall.png");
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 120px;
    background-color: darkblue;
    margin: auto;
}

#BannerSmall {
    position: relative;
    width: 100%;
    z-index: 5;
    height: 100%;
}

nav {
    position: sticky;
    top: 120px;
    padding: 10px;
    background-color: black;
    text-align: center;
}

ul li {
    display: inline;
    margin: 20px;
    list-style: none;
}

nav a:link {
    color: red;
}

nav a:visited {
    color: yellow;
}

nav a:hover {
    color: blue;
}

nav a:active {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: yellow;
}

#TopBlurb {
    position: relative;
    top: 133px;
    z-index: 1;
    color: purple;
    width: 80%;
    margin: auto;
    text-align: center;
}

#HomeArticles {
    color: white;
}

#HomeArticleImg1 {
    float: left;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 10px;
}

#HomeArticle1 {
    width: 75%;
    margin: auto;
    position: relative;
    top: 150px;
    height: 150px;
    background-color: black;
    border-radius: 20px;
}

#HomeArticle1 p {
    width: 85%;
    position: relative;
    left: 50px;
    top: 20%;
    bottom: 20%;
}

#HomeArticleImg2 {
    float: left;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 10px;
}

#HomeArticle2 {
    width: 75%;
    margin: auto;
    position: relative;
    top: 180px;
    height: 150px;
    background-color: black;
    border-radius: 20px;
}

#HomeArticle2 p {
    float: left;
    width: 70%;
    position: relative;
    left: 50px;
    top: 20%;
    bottom: 20%;
}

/*article3 css start */
#HomeArticleImg3 {
    float: left;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 10px;
}

#HomeArticle3 {
    width: 75%;
    margin: auto;
    position: relative;
    top: 220px;
    height: 150px;
    background-color: black;
    border-radius: 20px;
}

#HomeArticle3 p {
    float: left;
    width: 70%;
    position: relative;
    left: 50px;
    top: 20%;
    bottom: 20%;
}


/*article3 css end*/
footer {
    font-family: Futura, Arial, sans-serif;
    display: inline;
    color: white;
    position: fixed;
    bottom: 0px;
    padding: 5px;
    width: 100vw;
    background-color: darkblue;
    height: 100px;
}

#FooterImages {
    width: 300px;
    padding: 1px;
    margin: auto;
    /* Position element */
    position: absolute;
    right: 1%;
    bottom: 10px;
}

#Address {
    position: relative;
    margin: auto;
    left: 1px;
    top: 1px;
    background-color: #229;
    font-family: monospace;
    font-size: 10px;
    font-family: Futura, Arial, sans-serif;
    color: white;
}

#dates {
    position: fixed;
    color: white;
    bottom: 10px;
    left: 10px;
    font-family: monospace;
    font-size: 10px;
}

#dates a:link {
    color: white;
}

#dates a:hover {
    color: red;
}

/*medium screen 768*/
@media screen and (min-width: 768px) {
    #Header {
        background-image: url("/images/BannerMedium.png");
    }

    body {
        background-color: aqua;
    }

    #TopBlurb {
        color: black;
    }
}

@media screen and (min-width: 1280px) {
    #Header {
        background-image: url("/images/BannerBig.png");
    }

    body {
        background-color: red;
    }

    #TopBlurb {
        color: white;
    }
}
